{% if content %}
<footer {{ attributes.addClass('footer-fnews') }}>
	<div class="container">
		<div class="fn-content">
			<div class="fn-bloc">
				<div class="fns-social">
					{% if content.top_title %}
					<h4 {{ region_attributes.top_title.addClass('fn-title') }}>
						{{ content.top_title }}
					</h4>
					{% endif %}
					{% if content.top_text_left %}
					<div {{ region_attributes.top_text_left.addClass('fn-desc') }}>
						{{ content.top_text_left }}
					</div>
					{% endif %}
					<div class="card-social">
						{% if content %}
						{{ content.top_icon }}
						{% endif %}
					</div>
				</div>
			</div>

			<div class="fn-bloc">
				<div class="fns-menu">
					{% if content.top_title_one %}
					<h4 {{ region_attributes.top_title_one.addClass('fn-title')}}>
						{{ content.top_title_one }}
					</h4>
					{% endif %}
					<ul class="fn-ul">
						{% if content %}
						{{ content.footer_top_menu }}
						{% endif %}
					</ul>
				</div>
			</div>

			<div class="fn-bloc">
				<div class="fns-menu">
					{% if content.top_title_two %}
					<h4 {{ region_attributes.top_title_two.addClass('fn-title')}}>
						{{ content.top_title_two }}
					</h4>
					{% endif %}
					<ul class="fn-ul">
						{% if content.footer_top_menu_one %}
						    {{ content.footer_top_menu_one }}
						{% endif %}
					</ul>
				</div>
			</div>
			<div class="fn-bloc">
				<ul class="fn-article">
					{% if content %}
					{{ content.footer_teaser }}
					{% endif %}
				</ul>
			</div>
		</div>
		<div class="footer-last-bar">
			<div class="container">
				<div class="flb-content">
					{% if content.bottom_copy %}
    					<div {{ region_attributes.bottom_copy.addClass('explicit')}}>
    						{{ content.bottom_copy }}
    					</div>
					{% endif %}
					{{ content.bottom_link }}
				</div>
			</div>
		</div>
	</div>
</footer>
{% endif %}


