{% if content %}
<div {{ attributes.addClass('archive-fnews ') }}>
    <div class="container">
        <div class="row af-content">
            {% if content.archive_left %}
            <div {{ region_attributes.archive_left.addClass('col-12','col-md-5')}} class=" col-12 col-md-5">
                {{ content.archive_left }}
            </div>
            {% endif %}
            <div class="col-12 col-md-5 afc-second">
                <div class="afc-search">
                    {% if content %}
                        {{ content.s_title}}                        
                    {% endif %}
                    {% if content %}
                    <div {{region_attributes.s_bar.addClass('afc-search__input')}}>
                        {{ content.s_bar }}
                    </div>
                    {% endif %}
                </div>
                {% if content.archive_right %}
                <ul {{ region_attributes.archive_right.addClass('afc-nav')}}>
                  {{ content.archive_right }}  
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endif %}