{% if content %}
<div {{ attributes.addClass('in-case-fnews ')}}>
    <div class="container">
        {% if content %}
        <h3 {{ region_attributes.title_center.addClass('icf-title') }}>
            {{ content.title_center }}
        </h3>
        {% endif %}
        <div class="row  icf-content">
            {% if content %}
                {{ content.teasers_in_case}}
            {% endif %} 
        </div>
        {% if content %}
        <div class=" icf-more">
            {{ content.link }}
        </div>
        {% endif %}
    </div>
</div>
{% endif %}