{% if content %}
	<section class="first-service-fnews">
		<div class="container">
			<div class="first-service row">
				<div class="col-12 col-lg-8">
					<a href="#" class="first-service__img ">
						{% if content.image_left %}
							{{ content.image_left }}
						{% endif %}
						{% if content.service_day|has_value or content.service_date|has_value %}
							<div class="date-show">
								{% if content.service_day %}
									<span {{ region_attributes.service_day.addClass('date-show__day')}}>
										{{ content.service_day }}
									</span>
								{% endif %}
								{% if content.service_date %}
									<span {{ region_attributes.service_date.addClass('date-show__date')}}>
										{{ content.service_date }}
									</span>
								{% endif %}
							</div>

						{% endif %}
					</a>

				</div>
				<div class="first-service__body col-12 col-lg-4">
					<div class="head-nav-div">
						{% if content.service_promote|has_value %}
							<div {{ region_attributes.service_promote.addClass('promoted-label')}}>
								{{ content.service_promote }}
							</div>
						{% endif %}
						{% if content.head_nav  %}
							<div {{ region_attributes.head_nav}}>
								{{ content.head_nav }}
							</div>
						{% endif %}
					</div>

					{% if content.service_title %}
						<div {{ region_attributes.service_text.addClass('node-title')}}>


							{{ content.service_title }}
						</div>
					{% endif %}
					{% if content..service_text %}
						<p {{ region_attributes.service_text.addClass('node-desc')}}>
							{{ content.service_text }}
						</p>
					{% endif %}

					{% if content.read_more_text %}
						<div class="node-readmore">
							{{ content.read_more_text }}
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	</section>
{% endif %}
