{% if content %}
    <section {{attributes.addClass('post-proposition-section-handler')}}>
        <div class="container">
            <div class="row">
                <div class="col-lg-5 ">
                {% if content %}
                    <div {{region_attributes.title_left.addClass('latest-post-title')}}>
                        {{content.title_left}}
                    </div>
                {% endif %}
                    <div class="all-single-latest-post">
                        {% if content %}
                            {{ content.left_proposition }}
                        {% endif %}
                    </div>
                </div>

                <div class="col-lg-6 most-read-section ">
                    {% if content %}
                    <div {{region_attributes.title_r.addClass('most-read-title')}}>
                        {{content.title_r}}
                    </div>
                    {% endif %}
                    <div class="row">
                        {% if content %}
                            {{ content.right_proposition }}
                        {% endif %}
                    </div>
                    {% if content %}
                    <div {{region_attributes.link.addClass('more-link')}}>
                        {{ content.link }}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endif %}