{{ attach_library('fast_models/f_news_proposition')}}
{% if content %}
    <section {{attributes.addClass('post-proposition-section-handler')}}>
        <div class="container">
            <div class="row">
                <div class="col-lg-5 ">
                {% if content %}
                    <div {{region_attributes.title_left.addClass('latest-post-title')}}>
                        {{content.title_left}}
                    </div>
                {% endif %}
                    <div class="all-single-latest-post">
                        <div class="single-post d-flex">
                            {% if content %}
                            <div {{region_attributes.small_image.addClass('post-img-handler')}}>
                                {{content.small_image}}
                            </div>
                            {% endif %}
                            <div class="info d-block">
                                {% if content %}
                                <div {{region_attributes.small_image_text.addClass('post-link')}}>
                                    {{ content.small_image_text }}
                                </div>
                                {% endif %}
                                {% if content %}
                                <div {{region_attributes.small_image_date.addClass('posted-date')}}>
                                    {{ content.small_image_date}}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="single-post d-flex">
                            {% if content %}
                            <div {{region_attributes.small_image_one.addClass('post-img-handler')}}>
                                {{content.small_image_one}}
                            </div>
                            {% endif %}
                            <div class="info d-block">
                                {% if content %}
                                <div {{region_attributes.small_image_text_one.addClass('post-link')}}>
                                    {{ content.small_image_text_one }}
                                </div>
                                {% endif %}
                                {% if content %}
                                <div {{region_attributes.small_image_date_one.addClass('posted-date')}}>
                                    {{ content.small_image_date_one}}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="single-post d-flex">
                            {% if content %}
                            <div {{region_attributes.small_image_two.addClass('post-img-handler')}}>
                                {{content.small_image_two}}
                            </div>
                            {% endif %}
                            <div class="info d-block">
                                {% if content %}
                                <div {{region_attributes.small_image_text_two.addClass('post-link')}}>
                                    {{ content.small_image_text_two }}
                                </div>
                                {% endif %}
                                {% if content %}
                                <div {{region_attributes.small_image_date_two.addClass('posted-date')}}>
                                    {{ content.small_image_date_two}}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="single-post d-flex">
                            {% if content %}
                            <div {{region_attributes.small_image_three.addClass('post-img-handler')}}>
                                {{content.small_image_three}}
                            </div>
                            {% endif %}
                            <div class="info d-block">
                                {% if content %}
                                <div {{region_attributes.small_image_text_three.addClass('post-link')}}>
                                    {{ content.small_image_text_three }}
                                </div>
                                {% endif %}
                                {% if content %}
                                <div {{region_attributes.small_image_date_three.addClass('posted-date')}}>
                                    {{ content.small_image_date_three}}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="single-post d-flex">
                            {% if content %}
                            <div {{region_attributes.small_image_four.addClass('post-img-handler')}}>
                                {{content.small_image_four}}
                            </div>
                            {% endif %}
                            <div class="info d-block">
                                {% if content %}
                                <div {{region_attributes.small_image_text_four.addClass('post-link')}}>
                                    {{ content.small_image_text_four }}
                                </div>
                                {% endif %}
                                {% if content %}
                                <div {{region_attributes.small_image_date_four.addClass('posted-date')}}>
                                    {{ content.small_image_date_four}}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="single-post d-flex">
                            {% if content %}
                            <div {{region_attributes.small_image_five.addClass('post-img-handler')}}>
                                {{content.small_image_five}}
                            </div>
                            {% endif %}
                            <div class="info d-block">
                                {% if content %}
                                <div {{region_attributes.small_image_text_five.addClass('post-link')}}>
                                    {{ content.small_image_text_five }}
                                </div>
                                {% endif %}
                                {% if content %}
                                <div {{region_attributes.small_image_date_five.addClass('posted-date')}}>
                                    {{ content.small_image_date_five}}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="single-post d-flex">
                            {% if content %}
                            <div {{region_attributes.small_image_six.addClass('post-img-handler')}}>
                                {{content.small_image_six}}
                            </div>
                            {% endif %}
                            <div class="info d-block">
                                {% if content %}
                                <div {{region_attributes.small_image_text_six.addClass('post-link')}}>
                                    {{ content.small_image_text_six }}
                                </div>
                                {% endif %}
                                {% if content %}
                                <div {{region_attributes.small_image_date_six.addClass('posted-date')}}>
                                    {{ content.small_image_date_six }}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 most-read-section ">
                    {% if content %}
                    <div {{region_attributes.title_r.addClass('most-read-title')}}>
                        {{content.title_r}}
                    </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="featured-single-card">
                                {% if content %}
                                <div {{region_attributes.image_r.addClass('img-handler')}}>
                                    {{ content.image_r}}
                                </div>
                                {% endif %}
                                {% if content %}
                                <div {{region_attributes.image_r_date.addClass('pub-info')}}>
                                    {{ content.image_r_date }}
                                </div>
                                {% endif %}
                                {% if content %}
                                <div {{region_attributes.image_r_text.addClass('card-text-descriptor')}}>
                                    {{ content.image_r_text }}
                                </div>
                                {% endif %}
                                {% if content %}
                                <div {{region_attributes.image_r_author.addClass('role')}}>
                                    {{ content.image_r_author }}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="featured-single-card">
                                {% if content %}
                                <div {{region_attributes.image_r_one.addClass('img-handler')}}>
                                    {{ content.image_r_one}}
                                </div>
                                {% endif %}
                                {% if content %}
                                <div {{region_attributes.image_r_date_one.addClass('pub-info')}}>
                                    {{ content.image_r_date_one }}
                                </div>
                                {% endif %}
                                {% if content %}
                                <div {{region_attributes.image_r_text_one.addClass('card-text-descriptor')}}>
                                    {{ content.image_r_text_one }}
                                </div>
                                {% endif %}
                                {% if content %}
                                <div {{region_attributes.image_r_author_one.addClass('role')}}>
                                    {{ content.image_r_author_one }}
                                </div>
                                {% endif %}
                            </div>

                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="featured-single-card">
                                {% if content %}
                                <div {{region_attributes.image_r_two.addClass('img-handler')}}>
                                    {{ content.image_r_two}}
                                </div>
                                {% endif %}
                                {% if content %}
                                <div {{region_attributes.image_r_date_two.addClass('pub-info')}}>
                                    {{ content.image_r_date_two }}
                                </div>
                                {% endif %}
                                {% if content %}
                                <div {{region_attributes.image_r_text_two.addClass('card-text-descriptor')}}>
                                    {{ content.image_r_text_two }}
                                </div>
                                {% endif %}
                                {% if content %}
                                <div {{region_attributes.image_r_author_two.addClass('role')}}>
                                    {{ content.image_r_author_two }}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="featured-single-card">
                                {% if content %}
                                <div {{region_attributes.image_r_three.addClass('img-handler')}}>
                                    {{ content.image_r_three}}
                                </div>
                                {% endif %}
                                {% if content %}
                                <div {{region_attributes.image_r_date_three.addClass('pub-info')}}>
                                    {{ content.image_r_date_three }}
                                </div>
                                {% endif %}
                                {% if content %}
                                <div {{region_attributes.image_r_text_three.addClass('card-text-descriptor')}}>
                                    {{ content.image_r_text_three }}
                                </div>
                                {% endif %}
                                {% if content %}
                                <div {{region_attributes.image_r_author_three.addClass('role')}}>
                                    {{ content.image_r_author_three }}
                                </div>
                                {% endif %}
                            </div>

                        </div>
                    </div>
                    {% if content %}
                    <div {{region_attributes.link.addClass('more-link')}}>
                        {{ content.link }}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endif %}