{% if content %}
    {% if content.image.layout_builder_add_block %}
        {{ content.image }}
    {% endif %}
    {% if content.image|layout_bg_img %}
        {% set attributes = attributes.merge(content.image|layout_bg_img) %}
	{% endif %}
    <section {{ attributes.addClass('mhgy-hero-section') }}>
        <div class="container-flex">
            <div class="slider-content text-center">
                {% if content.titled %}
                <h1 {{ region_attributes.titled.addClass(['h1','slider-title'])}}>
                    {{ content.titled }}
                </h1>
                {% endif %}
                <div class="slider-link">
                    {% if content.link %}
                        {% for i in content.link|array_elements(region_attributes.link.addClass('')) %}
                            {{ i }}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endif %}