{{ attach_library('fast_models/mahogany_hero') }}
{% if content %}
<section {{attribute.addClass('mhgy-hero-section')}}>
    <div class="container-flex">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="slider-item">
                    {% if content.image %}
                    <div {{region_attributes.image.addClass('slider-image')}}>
                        {{ content.image }}
                    </div>
                    {% endif %}
                    <div {{region_attributes.titled.addClass('slider-content, text-center')}}>
                        {% if content.titled %}
                        <h1 class="slider-title">
                            {{ content.titled }}
                        </h1>
                        {% endif %}
                        {% if content.boutton %}
                        <a href="" class="btn btn-primary btn-lg text-center">
                            {{ content.boutton }}
                        </a>
                        {% endif %}
                        {% if content.bullets %}
                        <div {{region_attributes.title.addClass('slider-bullets')}}>
                            {{ content.bullets }}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}