{% if content %}
<section {{ attributes.addClass('featured-section-handler')}} >
    <div class="container">
        <div class="featured-cards-handler row">
            <div class="col-12 col-lg-4 col-md-4 col-sm-9 element ">
                <div class="featured-single-card">
                    <div class="img-handler">
                        {% if content %}
                        <a href="#" {{ region_attributes.teaser_feature_image.addClass('img-sup')}} >
                            {{ content.teaser_feature_image }}
                        </a>
                        {% endif %}
                    </div>
                    {% if content %}
                    <div {{ region_attributes.teaser_feature_date.addClass('pub-info')}} >
                        {{ content.teaser_feature_date }}
                    </div>
                    {% endif %}
                    {% if content %}
                    <div {{ region_attributes.teaser_feature_title.addClass('card-text-descriptor')}} >
                        {{ content.teaser_feature_title }}
                    </div>
                    {% endif %}
                    {% if content %}
                    <div {{ region_attributes.teaser_feature_role.addClass('role')}} >
                        {{ content.teaser_feature_role }}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}