{% if content %}
	<div {{attributes.addClass('metro-service')}}>
		{% if content.metro_teaser_small_image %}
			{% set keySearch = {begin:1, number:1} %}
			<div {{region_attributes.metro_teaser_small_image.addClass('metro_teaser_small_image')}}>
				{{ content.metro_teaser_small_image|layout_value_img(keySearch) }}
			</div>
		{% endif %}
		<div class="metro-service__body">
			{% if content.metro_teaser_small_title %}
				<h3 {{region_attributes.metro_teaser_small_title.addClass('node-title')}}>
					{{ content.metro_teaser_small_title }}
				</h3>
			{% endif %}
			{% if content.head_nav  %}
				<div {{ region_attributes.head_nav.addClass('head-nav')}}>
					{{content.head_nav}}
				</div>
			{% endif %}
			{% if content %}
				<div {{ region_attributes.metro_teaser_small_link_date.addClass('node-date')}}>
					{{ content.metro_teaser_small_link_date }}
				</div>
			{% endif %}
		</div>
	</div>
{% endif %}