{% if content %}

	<div class="blog-single-card">
		<div class="blog-img">
			<div class="img-sup">
				{% if content.blog_teaser_image %}
					{{ content.blog_teaser_image }}
				{% endif %}
				{% if content.blog_teaser_day|has_value or content.blog_teaser_date|has_value %}
					<div class="date-show">
						{% if content.blog_teaser_day %}
							<span {{ region_attributes.blog_teaser_day.addClass('date-show__day')}}>
								{{ content.blog_teaser_day }}
							</span>
						{% endif %}

						{% if content.blog_teaser_date %}
							<span {{ region_attributes.blog_teaser_date.addClass('date-show__date')}}>
								{{ content.blog_teaser_date }}
							</span>
						{% endif %}
					</div>
				{% endif %}
			</div>
		</div>
		<div class="d-flex flex-wrap py-3 align-items-center">
			{% if content.btn_promoted %}
				<div class="blog-btn blog-btn-black">
					{{ content.btn_promoted }}
				</div>
			{% endif %}

			{% if content.tag_btn_list %}
				{{ content.tag_btn_list }}
			{% endif %}

			{% if content.blog_teaser_price %}
				<span {{ region_attributes.blog_teaser_price.addClass('ml-auto','node-price')}}>
					{{ content.blog_teaser_price }}
				</span>
			{% endif %}
		</div>
		{% if content.blog_teaser_title %}
			<div {{ region_attributes.blog_teaser_title.addClass('blog-post-title')}}>
				{{content.blog_teaser_title}}
			</div>
		{% endif %}

		<div class='pub-info d-flex'>
			{% if content.info_date %}
				{{ content.info_date }}
			{% endif %}
			{% if content.info_author|has_value %}
				<p class="px-3">/</p>
				{{ content.info_author }}
			{% endif %}
		</div>

		{% if content.blog_teaser_desc %}
			<div {{ region_attributes.blog_teaser_desc.addClass('blog-preview')}}>
				{{ content.blog_teaser_desc }}
			</div>
		{% endif %}
		<div class="details d-flex">
			{% if content.read_more_text %}
				<div class="read-more-btn">
					{{ content.read_more_text}}
				</div>
			{% endif %}

			{% if content.log_in_link %}
				<div class=" ml-3 link-comment">
					{{ content.log_in_link}}
					{{ content.log_in_text}}
				</div>
			{% endif %}
			{% if content.comment %}
				<div class=" ml-3 link-comment">
					{{ content.comment}}
				</div>
			{% endif %}


		</div>
	</div>


{% endif %}
