{% if content %}
	<div class="single-story">
		{% if content.teaser_tech_date %}

			<div {{ region_attributes.teaser_tech_date.addClass('created-date')}}>
				{{ content.teaser_tech_date }}
			</div>
		{% endif %}
		<h4 class="story-title">
			{% if content.teaser_tech_title %}
				{{ content.teaser_tech_title }}
			{% endif %}
		</h4>
		<div class="story">
			{% if content.teaser_tech_text %}

				<div class="story-text">
					{{ content.teaser_tech_text }}
				</div>

			{% endif %}
			{% if content.teaser_tech_user %}
				{{content.teaser_tech_user}}
			{% endif %}
		</div>
	{% endif %}