{% if content %}
	<div {{ attributes.addClass('teaser-service') }}>
		<div class="">
			<div href="#" class="teaser-service__img">
				{% if content.t_image %}
					{{ content.t_image }}
				{% endif %}
				{% if content.date_show_day|has_value or content.date_show_date|has_value %}
					<div class="date-show">
						<div {{ region_attributes.date_show_day.addClass('date-show__day')}}>
							{{ content.date_show_day }}
						</div>

						<div {{ region_attributes.date_show_date.addClass('date-show__date')}}>
							{{ content.date_show_date }}
						</div>

					</div>
				{% endif %}

				{% if content.tag_show  %}
					{{ content.tag_show }}
				{% endif %}
			</div>
		</div>
		<div class="teaser-service__body ">
			{% if content.head_nav  %}
				<div {{ region_attributes.head_nav}}>
					{{ content.head_nav }}
				</div>
			{% endif %}

			{% if content.teaser_title %}
				<div {{ region_attributes.teaser_title.addClass('node-title')}}>
					{{ content.teaser_title }}
				</div>
			{% endif %}
			{% if content.teaser_price  %}
				<div {{ region_attributes.teaser_price.addClass('node-price')}}>
					{{ content.teaser_price }}
				</div>
			{% endif %}
		</div>
	</div>
{% endif %}
