{% if content %}
	<div class="metro-service">
		{% if content.metro_teaser_small_image %}
			<div class="metro-service__img">
				{{ content.metro_teaser_small_image }}
			</div>
		{% endif %}
		<div class="metro-service__body">
			{% if content.metro_teaser_small_title %}
				<h3 class="node-title">
					{{ content.metro_teaser_small_title }}
				</h3>
			{% endif %}

			{% if content.head_nav  %}
				<div {{ region_attributes.head_nav.addClass('head-nav')}}>

					{{content.head_nav}}
				</div>
			{% endif %}

			{% if content %}
				<div {{ region_attributes.metro_teaser_small_link_date.addClass('node-date')}}>
					{{ content.metro_teaser_small_link_date }}
				</div>
			{% endif %}
		</div>
	</div>
{% endif %}