{% if content %}
<section {{ attributes.addClass('member-section-handler') }}>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-member-card">
                    <div class="lutin  ">
                        {% if content %}
                        <a {{ region_attributes.teaser_member_image.addClass('img-link') }} href="#">
                            {{ content.teaser_member_image }}                            
                        </a>
                        {% endif %}
                    </div>
                    {% if content %}
                    <div {{ region_attributes.teaser_member_role.addClass('member-role','text-center','mt-4') }}>
                        {{ content.teaser_member_role }}                       
                    </div>
                    {% endif %}
                    {% if content %}
                    <div {{ region_attributes.teaser_member_name.addClass('member-name','text-center','mt-4')}}>
                        {{ content.teaser_member_name }}
                    </div>
                    {% endif %}
                    <div class="social-links  text-center mt-4">
                        {% if content %}
                        <a href="#" {{ region_attributes.teaser_member_icon.addClass('icon') }} >
                            {{ content.teaser_member_icon }}
                        </a>
                        {% endif %}
                        {% if content %}
                        <a href="#" {{ region_attributes.teaser_member_icon_one.addClass('icon') }}>
                            {{ content.teaser_member_icon_one}}
                        </a>
                        {% endif %}
                        {% if content %}
                        <a href="#" {{ region_attributes.teaser_member_icon_two.addClass('icon') }}>
                            {{ content.teaser_member_icon_two }}
                        </a>
                        {% endif %}
                        {% if content %}
                        <a href="#" {{ region_attributes.teaser_member_icon_three.addClass('icon') }}>
                            {{ content.teaser_member_icon_three }}
                        </a>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}