{% if content %}
<footer {{ attributes.addClass('footer-fnews') }}>
    <div class="container">
        <div class="fn-content">
            <div class="fn-bloc">
                <ul class="fn-article">
                    <li>
                        {% if content %}
                            {{ content.teaser_footer_image }}
                        {% endif %}
                        <div>
                            <a href="#">
                                {% if content %}
                                <h5 {{ region_attributes.teaser_footer_text.addClass('fna-title')}}>
                                    {{ content.teaser_footer_text }}
                                </h5>
                                {% endif %}
                            </a>
                            {% if content %}
                            <div {{region_attributes.teaser_footer_date.addClass('fna-date')}}>
                                {{ content.teaser_footer_date }}
                            </div>
                            {% endif %}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
{% endif %}