{% if content %}
<section {{ attributes.addClass('metro-service-fnews')}}>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 ">
                <div class="metro-service">
                    <div class="">
                        {% if content %}
                        <a href="#" {{ region_attributes.metro_teaser_image.addClass('metro-service__img ')}}>
                            {{ content.metro_teaser_image }}                            
                        </a>
                        {% endif %}
                    </div>
                    <div class="metro-service__body ">
                        {% if content %}
                            {{ content.metro_teaser_title }}
                        {% endif %}
                        <ul class="head-nav">
                            {% if content %}
                            <li> 
                                {{ content.metro_teaser_link }}
                            </li>
                            {% endif %}
                            {% if content %}
                            <li> 
                                {{ content.metro_teaser_link_one }}
                            </li>
                            {% endif %}
                        </ul>
                        {% if content %}
                        <div {{ region_attributes.metro_teaser_link_date.addClass('node-date')}}>
                            {{ content.metro_teaser_link_date }}                            
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}