{% if content %}
	<div class='featured-single-card'>
		{% if content.teaser_latest_right_image  %}
			<div {{region_attributes.teaser_latest_right_image.addClass('img-handler')}}>
				<div class="img-sup">
					{{ content.teaser_latest_right_image }}
				</div>
			</div>
		{% endif %}
		{% if content.teaser_latest_right_date %}
			<div {{region_attributes.teaser_latest_right_date.addClass('pub-info')}}>
				{{ content.teaser_latest_right_date }}
				{% if content.categorie %}
					<span class="px-2">/</span>

					<div class=" pub-info-cat">
						{{content.categorie}}
					</div>
				{% endif %}

			</div>
		{% endif %}
		{% if content.teaser_latest_right_text %}

			<div {{region_attributes.teaser_latest_right_text.addClass('card-text-descriptor')}}>
				{{ content.teaser_latest_right_text }}
			</div>
		{% endif %}
		{% if content.teaser_latest_right_author %}
			<div {{region_attributes.teaser_latest_right_author.addClass('role')}}>
				{{ content.teaser_latest_right_author }}
			</div>
		{% endif %}
	</div>
{% endif %}
