{% if content %}
<section {{ attributes.addClass('member-section-handler') }}>
<div class="single-member-card">
        <div class="lutin">
            {% if content.teaser_member_image %}
                {% for item in content.teaser_member_image|array_elements(region_attributes.teaser_member_image.assClass('img-link')) %}
                    {{ item }}
                {% endfor %}
            {% endif %}
        </div>
        {% if content.teaser_member_role %}
        <div {{ region_attributes.teaser_member_role.addClass('member-role','text-center') }}>
            {{ content.teaser_member_role }}
        </div>
        {% endif %}
        {% if content.teaser_member_name %}
        <h2 {{ region_attributes.teaser_member_name.addClass('member-name','text-center')}}>
            {{ content.teaser_member_name }}
        </h2>
        {% endif %}
        <div class="social-links  text-center">
            {% if content.teaser_member_icon %}
                {% for item in content.teaser_member_icon|array_elements(region_attributes.teaser_member_icon.addClass('icon')) %}
                    {{ item }}
                {% endfor %}
            {% endif %}
        </div>
    </div>
</section>
{% endif %}