{% if content %}
<div {{ attributes.addClass('lal-item') }} >
    {% if content.lal_date %}
    <div {{ region_attributes.lal_date.addClass('lal-item__date')}} >
        {{ content.lal_date }}
    </div>
    {% endif %}
    {% if content.lal_title %}
    <h5 {{ region_attributes.lal_title.addClass('lal-item__title')}} >
        {{ content.lal_title }}
    </h5>
    {% endif %}
</div>
{% endif %}