{% if content %}
	<div {{attributes.addClass(['box','aos-init']).setAttribute('data-aos','zoom-in-up').setAttribute('data-aos-delay','200')}}>
		<div class="illustration ">
			{% if content.icone %}
				<div {{region_attributes.icone.addClass(['icon','icone'])}}>
					{{ content.icone|layout_value }}
				</div>
			{% endif %}
		</div>
		{% if content.title %}
			<h3>
				{{ content.title }}
			</h3>
		{% endif %}
		{% if content.desc %}
			<div class="desc">
				{{ content.desc }}
			</div>
		{% endif %}
		{% if content.price %}
			<h4>
				{{ content.price }}
			</h4>
		{% endif %}
		{% if content.list_item %}
			{{content.list_item}}
		{% endif %}
		{% if content.link %}
			<div {{region_attributes.link.addClass(['link','btn-wrap'])}}>
				{{content.link}}
			</div>
		{% endif %}
	</div>
{% endif %}